# mailmap file
Bruce Schuck <bschuck@asgard-systems.com>
Bruce Schuck <bschuck@asgard-systems.com> <bruce.schuck@dish.com>
Erik Colson <eco@ecocode.net> <ec@mini.local>
Erik Colson <eco@ecocode.net> <ec@epsilon.(none)>
Erik Colson <eco@ecocode.net> <ec@ubuntu-vm.(none)>
Vincent Lucarelli <vincent.lucarelli@gmail.com> <vincentl@users.noreply.github.com>
Vinay S Shastry <vinayshastry@gmail.com> <vinayshastry@gmail.com>
Bradley Dean <bjdean@bjdean.id.au> <bjdean@bradtest.info>
Achim Winkler <mumpitzstuff@gmail.com> <mumpitzstuff@users.noreply.github.com>
Joseph Heron <heron.joseph@gmail.com> <heron.joseph@gmail.com>
Hiranya Samarasekera <hiranyas@gmail.com> <hiranya.samarasekera@ebuilder.com>
Hiranya Samarasekera <hiranyas@gmail.com> Hiranya <hiranyas@gmail.com>
Gabor Szabo <gabor@szabgab.com>

