language: perl

perl:
    - "5.28"
    - "5.26"
    - "5.24"
    - "5.22"

install:

    - cpanm --notest --skip-satisfied Dist::Zilla

    - dzil authordeps         | cpanm --notest --skip-satisfied
    - dzil listdeps --author  | cpanm --notest --skip-satisfied

script:
    - dzil test --all
