Source: libfinance-quote-perl
Section: interpreters
Priority: optional
Maintainer: Ross Peachey <rcp@debian.org>
Standards-Version: 3.5.2

Package: libfinance-quote-perl
Architecture: all
Depends: ${perl:Depends}, libhtml-tableextract-perl, debhelper(>=2.0.86)
Description: Perl module for retrieving stock quotes from a variety of sources
 This is a Perl module that retrieves stock quotes and other securities
 information from various locations

