#! /usr/bin/make -f
#                                                       -*- makefile -*-
# debian/rules file for the Debian/GNU Linux libfinance-yahooquote-perl package
# Copyright (C) 1999 by Dirk Eddelbuettel <edd@debian.org>

package        := $(shell grep Package debian/control | sed 's/^Package: //')
version        := $(shell head -1 debian/changelog | \
                       perl -nle 'm/\S+\s+\((\S+)\)/ && print $$1')
debtmp := $(shell pwd)/debian/tmp
debdoc := $(debtmp)/usr/share/doc/$(package)

# New Perl Policy by Raphael
ifndef PERL
PERL = /usr/bin/perl
endif

TMP     =`pwd`/debian/tmp
archlib =`$(PERL) -MConfig -e 'print $$Config{installarchlib}'`
config  =INSTALLDIRS=perl INSTALLMAN1DIR=$(TMP)/usr/share/man/man1 INSTALLMAN3DIR=$(TMP)/usr/share/man/man3 INSTALLPRIVLIB=$(TMP)/usr/lib/perl5 INSTALLARCHLIB=$(TMP)$(archlib)

build: build-stamp
build-stamp:
	dh_testdir
	$(PERL) Makefile.PL $(config)
	$(MAKE) CFLAGS="-O2 -g -Wall"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-test -f Makefile && $(MAKE) realclean
	dh_clean

binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE)                 pure_install
	dh_perl
	find `pwd`/debian/tmp -type f -name .packlist | xargs -r rm -f
	-find `pwd`/debian/tmp -type d -empty | xargs -r rmdir -p --ignore-fail-on-non-empty
	dh_installdocs          Documentation/README  \
				Documentation/Hackers-Guide Documentation/FAQ
	dh_installexamples      Examples/*.pl
#      dh_installmenu
#      dh_installinit
#      dh_installcron
#      dh_installmanpages
#      dh_undocumented
	dh_installchangelogs    ChangeLog
	dh_compress
	dh_fixperms
#      dh_suidregister
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary

